.container {
    margin-top: 30vh;
}

body {
    background-color: #000;
}

h1 {
    text-shadow: 0px 0px 10px #e05fe3,
                 0px 0px 20px #e05fe3,
                 0px 0px 40px #e05fe3,
                 0px 0px 80px #e05fe3;
    text-align: center;
    font-size: 50px;
    color: #e05fe3;
}

.button {
    position: relative;
    margin-left: 90vh;
    width: 120px;
    height: 40px;
    background-color: #000;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    justify-content: center;
    border: none;
    padding: 12px;
    gap: 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
}

.button::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -4px;
    top: -1px;
    margin: auto;
    width: 128px;
    height: 48px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #fc00ff 0%, #40c9ff 100%);
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
}

.button:hover::after {
    filter: blur(30px);
}

.button:hover::before {
    transform: rotate(-180deg);
}

.button:active::before {
    scale: 0.7;
}

.kelip-container {
    width: 400px;
    height: 300px;
    display: block;
    margin: auto;
}

img {
    width: 100%;
    height: 100%;
    animation: kelip 2s infinite;
}

@keyframes kelip {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 1024px) {
    .button {
        margin-left: 80vh;

    }
}

@media screen and (max-width: 850px) {
    .button {
        margin-left: 65vh;

    }
}

@media screen and (max-width: 768px) {
    .button {
        margin-left: 55vh;

    }
}

@media screen and (max-width: 700px) {
    .button {
        margin-left: 50vh;

    }
}

@media screen and (max-width: 650px) {
    .button {
        margin-left: 45vh;

    }
}

@media screen and (max-width: 600px) {
    .button {
        margin-left: 40vh;

    }
}

@media screen and (max-width: 500px) {
    .button {
        margin-left: 33vh;

    }
}

@media screen and (max-width: 450px) {
    .button {
        margin-left: 30vh;

    }
}

@media screen and (max-width: 400px) {
    .button {
        margin-left: 25vh;

    }
}

@media screen and (max-width: 360px) {
    .button {
        margin-left: 20vh;

    }
}

@media screen and (max-width: 330px) {
    .button {
        margin-left: 19vh;

    }
}

@media screen and (max-width: 300px) {
    .button {
        margin-left: 15vh;

    }
}

